# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
build/
.idea/
android/.gradle/
android/captures/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Pods
macos/Pods
macos/.symlinks
*.iml
*.lock
*.log

# Visual Studio Code/Rider/IntelliJ
.vscode/
*.ipr
*.iws
*.idea/
*.iml

# Others
.env
*.DS_Store
*.swp
